@import './pages/home-refinements';
@import './pages/home-hero-refinements';
@import './pages/home-hero-cleanup';
@import './pages/home-hero-microfix';

.nav-link.active {
}

.nav-divider {
    display: block;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0.25rem 0 .75rem 0;
}
