.avatar-wrapper {
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    background: var(--accent-light);
    overflow: hidden;
}
.avatar-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}